.post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
    margin: 30px 0;
}

.post__wrapper{
    padding: 10px;
}

.post__wrapper__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__top_left{
    display: flex;
    align-items: center;
}
.post__profile__img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.post__username{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.post__info{
    font-size: 9px;
}

.post__wrapper__center{
    margin: 20px 0;
}

.post__img{
    margin-top: 20px ;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.post__wrapper__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__bottom__left{
    display: flex;
    align-items: center;
}

.post__like__counter{
    font-size: 13px;
    margin-left: 20px;
    cursor: pointer;
}
.post__icon{
    margin: 0 20px;
}
