.rightbar{
    flex: 3.5;
    position: sticky;
}

.rightbar__wrapper{
    padding: 20px;
}
.birthday__container{
    display: flex;
    align-items: center;
}

.birthday__img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthday__text{
    font-weight: 300;
    font-size: 15px;
}

.rightbar__ad{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.rightbar__title{
    margin-bottom: 20px;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.following__img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.rightbar__info{
    margin-bottom: 10px;
}

.rightbar__info__item{
    margin-bottom: 10px;
}
.rightbar__info__item{
    font-weight: 300;
}

.right__info__key{
    margin-right: 15px;
    font-weight: 500;
    color: #555;
}

.rightbar__followings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbar__following{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}